{% extends "base.html" %}
{% load set_var %}
{% block title %}CARD - Courses Admin/{{ lecture.course.name}}/Lectures/{{ lecture.title }}{% endblock %}

{% block content %}
{% if user.is_superuser %}
  <h1> {{ lecture.course.name }} </h1>
  {# Ugly fix? This should perhaps in view rather than in template? #}
    <div class="panel-group" id="lectures">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#lectures"
                href="#collapseTwo">
              Lecture Information
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>  {{ lecture.abstract }} </p>
            <table class="table">
              <tr><td><b>Date</b></td><td><b>Lecturers</b></td>
              <td><b>Title</b></td><td><b>Type</b></td>
              <tr><td>{{ lecture.date }}</td>
              <td>{{ lecture.lecturers }}</td>
              <td>{{ lecture.title }}</td>
              {% for abbreviation, fullname in lecture.TYPES %}
                {% if abbreviation == lecture.classification %}
                  <td>{{ fullname }}</td>
                {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group" id="students">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#students"
                href="#collapseThree">
              Attending Students
            </a>
          </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table">
              <tr><td><b>Student ID</b></td><td><b>Name</b></td>
              <td><b>Status</b></td>
              {% for student in lecture.course.student.all%}
                <tr><td><a href="{% url 'education:admin_student' lecture.course.id student.id %}">{{ student.username}}</a></td>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                {% set status = 'Absent' %}
                {% for attending in lecture.attending.all %}
                  {% ifequal student.username attending.username %}
                    {% set status = 'Present' %}
                    <td><span class="label label-success">{{ status }}</span></td>
                  {% endifequal %}
                {% endfor %}
                {% ifequal status 'Absent' %}
                  <td><span class="label label-danger">{{ status }}</span></td>
                {% endifequal %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

{% else %}
  <p> You have no permission to view this page </p>
{% endif %}
{% endblock %}
