{% extends "base.html" %}
{% load bootstrap3 %}
{% load set_var %}
{% load lookup %}
{% block title %}CARD - Courses Admin/{{ course.name}}{% endblock %}

{% block content %}
{% if user.is_superuser %}
  {% bootstrap_messages %}
  <h1> {{ course.name }} Admin </h1>
  {# Ugly fix? This should perhaps in view rather than in template? #}
   <div class="panel-group" id="export">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <a href="{% url 'education:export' course.id %}">
          <button type="button" class="btn btn-default">
           <span class= "glyphicon glyphicon-floppy-save"></span> Export
          </button>
        </a>
      </div>
      <div class="btn-group">
        <a href="{% url 'education:import' course.id %}">
          <button type="button" class="btn btn-default">
           <span class= "glyphicon glyphicon-floppy-open"></span> Import
          </button>
        </a>
      </div>
    </div>
   </div>

    <div class="panel-group" id="information">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#information"
                href="#collapseOne">
              Course Information
            </a>
          </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <b>Studiegidsnummer</b><br>{{ course.catalogID }} <br><br>
            <b>Coordinator</b><br>{{ course.coordinator }} <br><br>
            {{ course.description|safe }}
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group" id="lectures">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#lectures"
                  href="#collapseTwo">
                Lectures
              </a>
            </h3>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table">
                <tr><td><b>Date</b></td><td><b>Lecturers</b></td>
                <td><b>Title</b></td><td><b>Type</b></td>
                {% for lecture in course.lecture_set.all %}
                  <tr><td>{{ lecture.date }}</td>
                  <td>{{ lecture.lecturers }}</td>
                  <td>
                    <a href="{% url 'education:admin_lecture' course.pk lecture.pk %}">
                      {{ lecture.title }}
                    </a>
                  </td>
                    <td>{{ lecture.get_classification_display  }}</td>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group" id="students">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#students"
                  href="#collapseThree">
                Students
              </a>
            </h3>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table">
                <tr><td><b>Student ID</b></td><td><b>Name</b></td>
                <td><b>Last Year</b></td>
                  {% for abbreviation, fullname in TYPES %}
                    <td><b>{{ fullname }}</b></td>
                  {% endfor %}
                  <td><b>Total</b></td>
                {% for student in course.student.all%}
                  <tr><td><a href="{% url 'education:admin_student' course.id student.id %}">{{ student.username}}</a></td>
                  <td>{{ student.first_name }} {{ student.last_name }}</td>
                  <td>{% lookup attendance student.username 'offset' %}</td>
                    {% for abbreviation, fullname in TYPES %}
                      <td>{% lookup attendance student.username abbreviation %}</td>
                    {% endfor %}
                  <td>{% lookup attendance student.username 'total' %}</td>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>

{% else %}
  <p> You have no permission to view this page </p>
{% endif %}
{% endblock %}
