{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} CARD - Register Attendance{% endblock %}

{% block content %}
{% if user.is_superuser %}
  <h1> Register Attendance </h1>
  <h2> {{ lect.course.name }} / {{ lect.date }} </h2>
  <form name="attendance" action='' method="post" class="form" role="form">
    {% csrf_token %}
    {% bootstrap_messages %}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="hidden" name="lecture_pk" value="{{ lecture }}"/>
    <input type="hidden" name="site" value="{{ site }}"/>
    <button type="submit" class="btn btn-primary" id="submit"> <!--style="position: relative;top: 100px">-->
      {% bootstrap_icon "star" %} is attending
    </button>
    {% endbuttons %}
  </form>
{% else %}
  <p> You have no permission to view this page </p>
{% endif %}

{% endblock %}
