{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} CARD - Register Attendance{% endblock %}

{% block content %}
{% if user.is_superuser %}
  {% bootstrap_messages %}
  <h1> Register Attendance </h1>
  <form action='' method="post" class="form" role="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <input type="hidden" name="lecture_pk" value="{{ lecture }}"/>
    <input type="hidden" name="site" value="{{ site }}"/>
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} is attending
    </button>
    {% endbuttons %}
  </form>
{% else %}
  <p> You have no permission to view this page </p>
{% endif %}

{% endblock %}
