{% extends "base.html" %}
{% load set_var  %}
{% block title %}
  CARD - Courses/{{ lecture.course.name }}/{{ lecture.title }}
{% endblock %}

{% block content %}
  {# Ugly fix? This should perhaps in view rather than in template? #}
  {% set enrolled = 'False' %}
  {% for id in lecture.course.student.all %}
    {% ifequal user.username id.username %}
      {% set enrolled = 'True' %}
      <h1> {{ lecture.course }} </h1>
      <div class="panel-group" id="information">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#information"
                  href="#collapseOne">
                Lecture Information
              </a>
            </h3>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p> {{ lecture.abstract }} </p>
              <table class="table">
                <tr><td><b>Date</b></td><td><b>Lecturers</b></td>
                <td><b>Title</b></td><td><b>Type</b></td><td><b>Status</b></td>
                  <tr><td>{{ lecture.date }}</td>
                  <td>{{ lecture.lecturers }}</td>
                  <td>{{ lecture.title }}</td>
                  {% for abbreviation, fullname in lecture.TYPES %}
                    {% if abbreviation == lecture.classification %}
                      <td>{{ fullname }}</td>
                    {% endif %}
                  {% endfor %}
                  {% set status = 'Absent' %}
                  {% for present in lecture.attending.all %}
                    {% ifequal present.username user.username %}
                      {% set status = 'Present' %}
                      <td><span class="label label-success">{{ status }}</span></td>
                      {{ break }}
                    {% endifequal %}
                  {% endfor %}
                  {% ifequal status 'Absent' %}
                    <td><span class="label label-danger">{{ status }}</span></td>
                  {% endifequal %}
              </table>
            </div>
          </div>
        </div>
      </div>

    {% endifequal %}
  {% endfor %}

  {% ifequal enrolled 'False' %}
    <p> You are currently not enrolled for {{ lecture.course }} </p>
  {% endifequal %}

{% endblock %}
