{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>{% block title %}CARD{% endblock %}</title>
</head>

<body>
<div id="container">
    <div id="header">
        <h1>
            CARD
        </h1>
    </div>
    <div id="navigation">
        <ul>
            {% block navigation %}
            {% url 'auth_password_reset' as auth_pwd_reset_url %}
            {% url 'registration_register' as register_url%}
            <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>
            <li><a href="{% url 'auth_password_change' %}">
                {% trans "Change password" %}</a></li>
            <li><a href="{% url 'polls:index' %}">{% trans "Polls" %}</a></li>
            <usr>{% trans "Logged in" %}: {{ user.username }}</usr>
            {% else %}
            <li><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></li>
            <li><a href="{{ auth_pwd_reset_url }}">{% trans "Reset" %}</a></li>
            <li><a href="{{ register_url }}">{% trans "Register" %}</a></li>
            {% endif %}
            {% endblock %}
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        Copyright © Timo L.R. Halbesma BSc, 2014
        {% endblock %}
    </div>
</div>
</body>

</html>
